* {
  padding: 0;
  margin: 0; }

html, body {
  height: 100%; }

div.dir_tree {
  height: 100%;
  width: 300px;
  background: #FF66FF;
  float: left;
  resize: horizontal;
  overflow: scroll; }

div.main_pane {
  height: 100%; }
