doctype html
html(lang="en")
  head
    title s3explorer
    script(src="../lib/aws-sdk-js-2.2.43/dist/aws-sdk.min.js")
    script(src="../js/aws_init.js")
    link(rel="stylesheet", href="../css/index.css")
    link(rel="stylesheet", href="../lib/font-awesome-4.5.0/css/font-awesome.min.css")
  body
    div.tool_bar
      span.tool_button.fa.fa-refresh(onclick="explorer.showContents(explorer.getCurrentDirectory())")
      span.tool_button.fa.fa-copy
      span.tool_button.fa.fa-paste
      span.tool_button.fa.fa-cut
      span.tool_button.fa.fa-arrow-up(onclick="explorer.up()")
      span#current_directory
      span.tool_button.fa.fa-cog(onclick="explorer.toggleSetting()")
    div.center
      div.dir_tree
      div.main_pane#main_pane
        ul#contents
      div.setting_pane#setting_pane
        form onsubmit="return false;"
          label
          input(type="file")
          button(type="button")
    div.status_bar
    
    script(src="../js/index.js")
